extends index

block menu
    ul(class="navbar-nav mr-auto")
        li(class="nav-item")
            button(onclick="window.location.href = 'requests'")
        li(class="nav-item")
            a(class="nav-item nav-link text-uppercase" href="/") головна
        li(class="nav-item")
            a(class="nav-item nav-link text-uppercase" href="books") книги
        li(class="nav-item")
            a(class="nav-item nav-link active text-uppercase" href="aboutus") про нас

block content
    div(class="content")
        p Ми круті!
